@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/asap/v13/KFOoCniXp96ayzse5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwTs5juQtsyLLR5jN4cxBEoTJzawg.ttf) format('truetype');
}
