body{

	background-image: url('../imgs/xyz.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;


}
.main1{

	margin: 50px;
	margin-right: 700px;
	background-color: #161338;
	padding: 50px;
}

.main2{

	margin: 50px;
	margin-left: 700px;
	background-color: #273546;
	padding: 50px;
}

.headng{
	font-size: 2.5em;
	color: white;
	font-family: 'Asap', sans-serif;
	background-color: #273546;
	
}


.text{
	font-size: 1.2em;
	font-family: 'Hind Siliguri', sans-serif;
	color: white;
}







/*animation ka kachra start*/
@keyframes slide {
	0% {width: 0%;}
    100% {width: 40%;}
}

.fixed1{
position: fixed;
background-color: #b87217;
top: 0px;
right: 0px;
padding: 10px;
animation-name: slide;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-timing-function: ease;
z-index: +9999;

}

.fixed2{
position: fixed;
background-color: #b87217;
top: 0px;
left: 0px;
padding: 10px;
animation-name: slide;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-timing-function: ease;
z-index: +9999;
}
/*/*animation kachra end*/

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	
	body{

		background-image: url('../imgs/xyz.jpeg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		width: 100%;
	
	
	}
	.main1{

		margin: 50px 0 50px 30px;
		/* margin-right: 700px; */
		width: 50%;
		background-color: #273546;
		padding: 50px;
	}
	.main2{

		margin: 50px 30px 50px 0;
		/* margin-left: 700px; */
		float: right;
		
		width: 50%;
		background-color: #273546;
		padding: 50px;
	}
	.clear-bt{
		clear: both;
	}

	.headng{
		font-size: 2.0em;
		color: white;
		font-family: 'Asap', sans-serif;
		background-color: #273546;
		
	}
	
	

	/*animation ka kachra start*/
	@keyframes slide {
		0% {width: 0%;}
    	100% {width: 60%;}
	}

	.it-fixed1{
		position: fixed;
		background-color: #b87217;
		top: 0px;
		right: 0px;
		padding: 10px;
		animation-name: slide;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
		z-index: +9999;

	}

	.it-fixed2{
		position: fixed;
		background-color: #b87217;
		top: 0px;
		left: 0px;
		padding: 10px;
		animation-name: slide;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
		z-index: +9999;
	}
/*/*animation kachra end*/
	
  }